<h3 [ngStyle]="{color:getColor()}"
    [ngClass]="{online: serverStatus === 'Online'}">
    Server status is {{serverStatus}}
</h3>
<div class="panel panel-primary">
    <div class="panel-heading">
        {{title}}
    </div>
    {{showImage}}
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                UserInput
            </div>
            <div class="col-md-4">
                <input type="text"
                [(ngModel)]="userText"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Number of product Search on basis of {{userText}}:
                    {{(products | search:userText).length}}
                </h4>
            </div>
        </div>
        <div class="table-resposive">
            <table class="table" *ngIf="products && products.length; else noData">
                <thead>
                    <tr>
                        <td>
                            <button type="button"
                                class="btn btn-success"
                                (click)="toggleImage()">
                                {{showImage ? 'Hide Image':'Show Image'}}
                            </button>
                        </td>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Date</th>
                        <th>Price</th> 
                        <th>Rating</th>   
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prod of products | search:userText">
                        <td>
                            <img [src]="prod.imageUrl"
                            [style.width.px]="imageWidth"
                            *ngIf="showImage"/>
                        </td>
                        
                        <td>
                            <a [routerLink]="['/product', prod.productId]">
                            {{prod.productName | mypipe:'upper'}}
                            </a>
                        </td>
                        <td style="color:teal">{{prod.productCode | mypipe:'lower'}}</td>
                        <td>{{prod.releaseDate | date}}</td>
                        <td [ngStyle]="{'background-color':prod.price<25?'tomato':'skyblue'}">
                            {{prod.price | discount:4 | currency:'GBP' }}
                        </td>
                        <td>
                            <app-star [rating]="prod.starRating"
                                (ratingClicked)="dataRecive($event)"></app-star>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ng-template #noData>
                <img src="../../assets/spinner.gif"/>
            </ng-template>
        </div>
    </div>
</div>


<!---
 [queryParams]="{name:prod.productName,img:prod.imageUrl,
                                desc:prod.description}"
-->