<br/>
<div class="panel panel-primary">
    <div class="panel-heading">
        Customer Form
    </div>
    <div class="panel-body">
        <form #form="ngForm" (submit)="submitForm(form)">
            <div class="form-group" [class.has-error]="firstname.invalid">
                <label for="fname"
                class="control-label">FirstName</label>
                <input type="text"
                class="form-control"
                required
                value="john"
                name="firstname"
                [ngModel] = "mycust.firstname"
                (ngModelChange)="firstToUpper($event)"
                #firstname="ngModel"
                id="fname"/>
                <div class="alert alert-danger" *ngIf="firstname.invalid">
                    First Name is Required
                </div>
            </div>
            <div>
                <h2>Classes</h2>
                <h3>{{firstname.invalid}}</h3>
                <h3>{{firstname.className}}</h3>
            </div>
            <div class="form-group">
                    <label for="lname">LastName</label>
                    <input type="text"
                    class="form-control"
                    name="lastname"
                    [(ngModel)] = "mycust.lastname"
                    id="lname"/>
                    <div class="alert alert-danger" *ngIf="">
                      
                    </div>
            </div>
            <div class="form-group" [class.has-error]="email.invalid && email.touched">
                    <label for="mail">Email</label>
                    <input type="text"
                    class="form-control"
                    placeholder="a@a"
                    name="email"
                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                    [(ngModel)] = "mycust.email"
                    #email="ngModel"
                    id="mail"/>
                    <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
                      Enter valid email
                    </div>
            </div>
            <div class="form-group" [class.has-error]="passw.invalid && passw.touched">
                    <label for="pwd"
                    class="control-label">Password</label>
                    <input type="password"
                    class="form-control"
                    name="password"
                    [(ngModel)] = "mycust.password"
                    minlength="5"
                    #passw="ngModel"
                    id="pwd"/>
                    <div class="alert alert-danger" *ngIf="passw.invalid && passw.touched">
                        Min length is 5
                    </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="prime"
                    [(ngModel)] = "mycust.prime"
                    value="prime"/>Prime
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="gender"
                    [(ngModel)] = "mycust.gender"
                        value="male"/>Male
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="gender"
                    [(ngModel)] = "mycust.gender"
                        value="female"/>Female
                </label>
            </div>
            <div class="form-group" [class.has-error]="hasDayError">
                <label for="delivery" 
                    class="control-label">Days</label>
                <select class="form-control"
                name="maxday"
                (blur)="validateDays($event)"
                [(ngModel)] = "mycust.maxday">
                    <option value="default">Please Select the Day</option>
                    <option *ngFor="let day of maxdays">
                        {{day}}
                    </option>
                    
                </select>
                <div class="alert alert-danger" *ngIf="hasDayError">
                   Please select valid Days
                </div>
            </div>

            <button type="submit"
                class="btn btn-success">
                Submit
            </button>&nbsp;
            <button type="reset"
                class="btn btn-danger">
                Reset
            </button>

        </form>
    </div>
</div>