<div class="panel panel-primary">
    <div class="panel-heading">
        {{title}}
    </div>
    <div class="panel-body">
        <div class="table-resposive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Date</th>
                        <th>Price</th> 
                        <th>Rating</th>   
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prod of products">
                        <td>{{prod.productName}}</td>
                        <td>{{prod.productCode}}</td>
                        <td>{{prod.releaseDate}}</td>
                        <td>{{prod.price}}</td>
                        <td>{{prod.starRating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>